.order-details {
  padding: .5rem 2rem;
  background: #f6f6f6;
  border: 1px solid #ddd;
}

.checkout-payment {
  border: 1px solid #ededed;
  padding: 2rem 2rem 0 2rem;
  background: #f6f6f6;
}

.rabeya-payment-info {
  padding-left: 35px;
  margin-bottom: 0px;
}
