/*****************************
06. Footer CSS
*****************************/

.footer-bottom {
  padding: 3rem 0;
}

.footer p {
  color: #000;
  font-size: 1.4rem;
}

.footer-menu {
  text-align: center;
}

.footer-area-bottom {
  border-top: 1px solid #ddd;
}

.footer-area a:hover {
  color: #94c7eb;
}

.widget-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin: 0 0 2rem 0;
  text-transform: capitalize;
}

.footer-widget-title {
  color: #2c2e3d;
}

.address-widget p {
  color: #b6becb;
  font-size: 1.4rem;
  margin-bottom: 15px;
  line-height: 2;
}
.address-widget p:last-child {
  margin-bottom: 0px !important;
}

.address-widget p i.fa {
  font-size: 1.6rem;
  margin-right: 10px;
}

.address-widget p a {
  color: #b6becb;
}

.footer-address-widget p {
  color: #2c2e3d;
}

.footer-address-widget p a {
  color: #2c2e3d;
}

.menu-widget ul li {
  line-height: 1.5;
}

.menu-widget ul li:not(:last-child) {
  margin-bottom: 1.4rem;
}

.menu-widget ul li a {
  font-size: 1.4rem;
  color: #b6becb;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 400;
}

.footer-menu-widget ul li a {
  color: #2c2e3d;
}

.payment {
  margin-top: 25px;
}

.copyright-text {
  margin-bottom: 0;
  color: #fff;
  padding-top: 5px;
}

.copyright-text a {
  color: #ffe11b;
}

.footer-copyright-text a {
  color: #94c7eb;
}

.footer-copyright-text a:hover {
  color: #94c7eb;
  text-decoration: underline;
}