
/**********************
Product Box
***********************/

  .product-box {
    border: 1px solid #ddd;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  
  .rabeya-box-image {
    position: relative;
    text-align: center;
  }
  .rabeya-box-image img {
    width: 100%;
    height: 315px;
  }

  @media (max-width: 991px){
    .rabeya-box-image img {
    min-width: 100%;
    height: 94% !important;
}
}

  .product-box--list .rabeya-box-image {
    margin-bottom: 0px !important;
  }
  
  .rabeya-box-image .secondary_image {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .rabeya-box-footer {
    position: relative;
    padding: 20px 0px;

  }
  
  .rabeya-box-desc {
    text-align: center;
  }
  
  .rabeya-box-desc h1 {
    font-size: 50px;
    font-weight: 500;
  }
  
  .rabeya-box-desc h2 {
    font-weight: normal;
    font-size: 25px;
  }
  
  .rabeya-box-title {
    font-size: 1.8rem;
    color: #2c2e3d;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  .product-box .sale-price {
    font-size: 1.6rem;
  }
  
  .product-box .regular-price {
    font-size: 1.2rem;
    color: #a2a2a2;
  }
  
  .product-box .quick-view {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
    margin-left: -1.8rem;
    margin-top: -1.8rem;
    font-size: 1.5rem;
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
  }
  
  .product-box .quick-view:hover {
    background: #94c7eb;
  }
  
  .rabeya-box-link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    top: 2.2rem;
    text-align: center;
  }
  
  .rabeya-deal-area .quick-view {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .rabeya-deal-area .quick-view:hover {
    background-color: #94c7eb;
  }
  
  .rabeya-deal-area .rabeya-box-title:hover {
    color: #94c7eb;
  }
  
  .product-box--list .rabeya-box-desc {
    text-align: left;
    padding-top: 20px;
    padding-right: 20px;
  }
  
  .product-box--list .rabeya-box-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .rabeya-box-price {
    margin-bottom: 0px;
  }
  
  .product-box--list .rabeya-box-price {
    margin-bottom: 1rem;
  }
  
  .product-box--list .add-to-cart {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  .product-box--list .rabeya-box-descript {
    color: #2c2e3d;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  /**********************
  Product Category
  ***********************/
  
  .product-category {
    text-align: center;
  }
  
  .rabeya-product-single {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 1rem;
/*    border: 10px solid var(--main-color);*/
/*    border-radius: 50%;*/
  }
  .rabeya-product-single .product-box {
    border: 0px !important;
  }
  .rabeya-product-single img {
    border-radius: 50%;
  }
  .rabeya-category-thumb {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #fff;
  }
  
  .rabeya-category-thumb img {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  
  .rabeya-pcat-title {
    text-transform: capitalize;
    color: #2c2e3d;
    font-size: 1.6rem;
    display: block;
    margin-top: 1.5rem;
  }
  
  .product-category .owl-prev {
    margin: 0 5px 0 25px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .product-category .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .rabeya-product-category .rabeya-pcat-title:hover {
    color: #94c7eb0;
  }
  
  .product-title {
    color: #2c2e3d;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2.4rem;
  }
  
  .product-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .product-price .sale-price {
    color: #94c7eb;
    font-size: 2rem;
  }
  
  .product-price .regular-price {
    font-size: 2rem;
    margin-right: 8px;
  }
  
  .discount-badge {
    text-transform: uppercase;
    display: inline-block;
    background: #e75768;
    color: white;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
  }
  
  /**********************
  Product Varients
  ***********************/
  
  .rabeya-product-label {
    color: #232323;
  }
  
  .rabeya-product-select {
    background-color: #fff;
    width: 5.5rem;
    height: 3.8rem;
    padding: 2px 1.5rem 0 4px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #333;
    border: 1px solid #a6a6a6;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .rabeya-product-select:focus {
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
  }
  
  .rabeya-product-color--group li {
    display: inline-block;
  }
  
  .label-modal {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  
  .label-modal:hover {
    border: 2px solid #232323;
  }
  
  .label-modal.dark-color {
    background-color: #435065;
  }
  
  .label-modal.yellow-light-color {
    background-color: #F39C11;
  }
  
  .label-modal.blue-light-color {
    background-color: #5D9CEC;
  }
  
  .label-modal.yellow-color {
    background-color: #F1C40F;
  }
  
  .modal-color-input[type="radio"] {
    display: none;
  }
  
  .modal-color-input[type="radio"]:checked+label {
    border: 2px solid #232323;
  }
  
  /**********************
  Product Action
  ***********************/
  
  .product-action-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  
  /**********************
  Quantity
  ***********************/
  
  .quantity {
    position: relative;
    width: 8rem;
    margin-right: 4rem;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  
  .quantity-input {
    width: 6rem;
    height: 4.6rem;
    padding: 4px 8px;
    color: #333;
    background: #fff;
    border: 1px solid #a6a6a6;
    border-right: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.6rem;
  }
  
  .quantity .qtybutton {
    position: absolute;
    right: 0;
    width: 2.5rem;
    height: 2.3rem;
    border: 1px solid #a6a6a6;
    text-align: center;
    line-height: 2.3rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .quantity .qtybutton:hover, .quantity .qtybutton:focus {
    background-color: #f1f1f1;
  }
  
  .quantity .inc.qtybutton {
    top: 0;
    border-bottom: none;
  }
  
  .quantity .dec.qtybutton {
    bottom: 0;
  }
  
  /**********************
  Product Availability
  ***********************/
  
  .product-availability {
    font-weight: 500;
    color: #555555;
    font-size: 14px;
  }
  
  .product-availability i.fa {
    color: #4cbb6c;
    font-size: 2rem;
    margin-right: 5px;
  }
  
  /**********************
  Product Large Thumb
  ***********************/
  
  .product-thumb-large {
    margin-bottom: 1.5rem;
  }
  
  .product-thumb-large .tab-pane {
    text-align: center;
  }
  
  /**********************
  Product Thumbnail
  ***********************/
  
  .product-thumbnail .thumb-menu-item a {
    display: block;
    border: 1px solid #ededed;
  }
  
  .product-thumbnail .thumb-menu-item a.active, .product-thumbnail .thumb-menu-item a:hover {
    border-color: #94c7eb;
  }
  
  .product-thumbnail .owl-prev, .product-thumbnail .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .product-thumbnail .owl-prev {
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    left: 1rem;
  }
  
  .product-thumbnail .owl-next {
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    right: 1rem;
  }
  
  .product-thumbnail :hover .owl-prev, .product-thumbnail :hover .owl-next {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  /**********************
  Featured Product
  ***********************/
  
  .featured-produts {
    /* padding: 1rem 1rem; */
    /* border: 1px solid #ecedf0; */
  }
  
  .featured-produts .product-box {
    margin-bottom: 30px;
  }
  
  .featured-produts .owl-prev {
    margin: 10px 5px 0 25px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .featured-produts .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .rabeya-featured-produts {
    background-color: #fff;
    padding-top: 30px;
  }
  
  .featured-produts--4 .owl-nav {
    background-color: #fff;
  }
  
  /**********************
  Trending Product
  ***********************/
  
  .rabeya-tproduct-carousel .owl-prev {
    margin: 12px 5px 12px 25px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .rabeya-tproduct-carousel .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .rabeya-tproduct-carousel--3 {
    border: none;
    padding: 0;
  }
  
  .rabeya-tproduct-carousel--5 {
    border-color: #fff;
    background: #fff;
  }
  
  /**********************
  Product Countdown
  ***********************/
  
  .product-countdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -mox-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .product-countdown .single-countdown {
    position: relative;
    margin: 0 1rem;
  }
  
  .product-countdown .single-countdown__time {
    display: block;
    width: 6.5rem;
    height: 6.5rem;
    line-height: 6.5rem;
    text-align: center;
    border-radius: 50%;
    color: #2c2e3d;
    font-size: 1.8rem;
    font-weight: 600;
    background: #EFEFEF;
    text-align: center;
  }
  
  
  .product-countdown .single-countdown__text {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
  }
  
  .product-countdown .single-countdown:not(:last-child):after {
    position: absolute;
    content: ":";
    right: -1.3rem;
    top: 2.1rem;
    font-size: 3.5rem;
  }
  
  /**********************
  Related Product
  ***********************/
  
  .related-product-carousel {
    padding: 2rem;
    border: 1px solid #ededed;
    margin-top: 55px;
  }
  
  .related-product .owl-prev {
    margin: 0 5px 0 25px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .related-product .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  